<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {{>header}}

    <div class="content">
        <img src="/img/DummyPic.jpg">
        <p>I like to go woof! woof!</p>
        <p>This site uses the mapbox API to get coordinates for a location provided by the user, and then uses the weatherstack API to get the forecast for those coordinates.</p>
    </div>

    {{>footer}}
</body>
</html>