<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>header}}

    <div class="content">
        <img src="/img/DummyPic.jpg">
        <p>I like to go woof! woof!</p>
    </div>

    {{>footer}}
</body>
</html>